{#  src/Capstone/ReportBundle/Resources/views/Default/index.html.twig#}
{% extends '::admin/layout.html.twig' %}
{% block title %} FunQ Report {% endblock %}
{% block subheader %}
<div class="row">
<ul class="button-group left">
<li><a href="{{path ('school_report',{'school': 1 })}}" class="button primary">School</a></li>
<li><a href="{{path ('region_report',{'region': 1 })}}" class="button primary">Region</a></li>
<li><a href="{{path ('class_report',{'class':1 })}}}" class="button primary">Class</a></li>
<li><a href="{{path ('regional_report' )}}" class="button primary">Regional</a></li>
<li><a href="{{path ('result_report',{'id':1 })}}" class="button primary">Result</a></li>
</ul>
</div>
{% endblock %}

{% block body %}
<div class="row">
<div class="large-12 columns">
<div class="panel">
<h1>Report</h1>
</div>
</div>
</div>

<div style="text-align: center">

	<h1> SELECT REPORT TYPE </h1><br><h3>Options Go here Regarding Filtering and Downloading</h3>
	<div>
	 
    </div>
    </div>
{% endblock %}
