{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Classification list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Classificationiq</th>
                <th>Classify</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('classification_show', { 'id': entity.classificationIq }) }}">{{ entity.classificationIq }}</a></td>
                <td>{{ entity.classify }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('classification_show', { 'id': 
entity.classificationIq }) }}">show</a>
                    </li>
                      <li>
                        <a href="{{ path('classification_edit', { 'id': 
entity.classificationIq }) }}">edit</a> 
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
           {#  <a href="{{ path('classification_new') }}">
                Create a new entry
            </a> #}
            <a href="{{ path('setup_homepage') }}">
			Back
            </a>
        </li>
    </ul>
    {% endblock %}
