<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>        
        {% block stylesheets %}			
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href ="{{ asset('bundles/DataTables-1.10.7/media/css/jquery.dataTables.css')}}">
    </head>
    <body>
     {% if app.session.flashBag.has('success') %}
        <div data-alert class="alert-box success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% block header %}
    {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
        {% endblock %}
        <script src="{{ asset('bundles/bmatznerfoundation/js/vendor/modernizr.js' ) }}"></script>
        <script src="{{ asset('bundles/bmatznerfoundation/js/vendor/jquery.js' ) }}"></script>
        <script src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js' ) }}"></script><script>]
        $(document).foundation();
        </script>
        <script src="{{ asset('bundles/bmatznerfoundation/js/foundation/foundation.dropdown.js') }}"></script>
       <script type="text/javascript" src="{{ asset('bundles/DataTables-1.10.7/media/js/jquery.dataTables.js')}}"></script>
       <script src="{{ asset('bundles/setup/js/datatab.js' ) }}"></script>
    
  
        {% block javascripts %}
        
        
        {% endblock %}
    </body>
</html>
