{#  src/Capstone/QuizBundle/Resources/views/Default/index.html.twig#}
{% extends 'QuizBundle:Default:index.html.twig' %}
{#% set array =  info.questioninfo explode(',',info.question ) %#}
{% block title %} FunQ Quiz{% endblock %}
{% block body %}
<div class="row">
<div class="large-12 columns">
  <p> Question #count <br>{{  info.question[1] | raw }} </p>
  
  <div class="image">
    <div class="large-12 columns">
	<img src="{{ info.question[2] }}" style=" width:100%; height:300px; " alt ="Image" ></>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns" style="text-align:center; padding-top:5%;">
	<form action="/reply.json/" method="POST" id="answer" style="display:block;">
	  <input type="radio" class="button round success" name="answer" value="A"> A</input>
	  <input type="radio" class="button round success" name="answer" value="B"> B</input>
	  <input type="radio" class="button round success" name="answer" value="C"> C</input>
	  <input type="radio" class="button round success" name="answer" value="D"> D</input>
	  <input type="radio" class="button round success" name="answer" value="E"> E</input>
	  <input type="radio" class="button round success" name="answer" value="F"> F</input>
	<br>
	<input type="hidden" name="quiznum" value="{{ info.quiznum }}">
	<input type="hidden" name="question" value="{{ info.question[0] }}">
	<div class="large-6 columns" style="text-align:center; margin-left:25%;padding-top:5%; ">
	<input type="submit" class="button expand success" name="Submit" value="Submit">  </input>
	</div>
	</form>

    </div>
  </div>
{% block feed %}
{#render (controller ('QuizBundle:Quiz:getAnswer')) #}
  {{ end }} , {{ info.quiznum }}, {{info.question[2]}}{#{ attribute(array,0)  }#}
{% endblock %}
</div>
    </div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
var quest_type = new Array('visualization','classification','spatial','mathematical','logic','pattern recognition','verbal');
var qtype = [];

var request;

$(document).ready(function(){
  console.log("READY");
});
$("#answer").submit(function(){
  alert ("ajax");
  var $form = $(this);
  var $inputs = $form.find("input, select, button, textarea");
  var info = { 'quiznum':$(quiznum).val
  var serializedData = $form.serialize();
  alert(serializedData);
  console.log($inputs);
  $inputs.prop("disabled", true);
  var url1 = "/reply.json/";
  request = $.ajax({
    url:url1,
    type: "post",
    data: $.toJSON(serializedData)
    
    });
    alert(data);
    alert(url1);

  });
    
    
    

</script>




zi score = xi - meanof all /standard dev of all xi is respondent score

standard dev = sqr(sum(squared(iq value - mean))/ count(values)-1)
{% endblock %}
	
	
    