{#  src/Capstone/QuizBundle/Resources/views/report.html.twig#}
{% extends '::admin/layout.html.twig' %}
{% block title %} FunQ Quiz{% endblock %}
{% block subheader %}

{% endblock %}
{% block body %} 
<h1> {{ name }} </h1>
<table class="records_list">
        <thead>
            <tr>
                <th>No. </th>
                <th>School</th>
                <th>Parish</th>
                <th>Gender </th>
                <th>IQ</th>
        </thead>
        <tbody>
        {% for reg in class %}
            <tr>
                {#<td><a href="{{ path('classification_show', { 'id': entity.classificationIq }) }}">{{ entity.classificationIq }}</a></td>
                reg.schoolId #}<td>{{loop.index}}</td>
                <td>{{reg.firstName}}</td>
                <td>{{reg.lastName}}</td>
                <td>{{reg.gender}}</td>
                <td>{{reg.iQ}}</td>
        
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
 
