{# src/Capstone/UserBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}
{% block header%}
	<div class="row">
<div class="large-12 columns">
<ul class="button-group right">
<li><a href="{{path ('home')}}" class="button tiny">Home</a></li>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
 
 <li><a href="#" class="button tiny">Info</a></li>
  {% if is_granted('ROLE_USER') %}
  
  <li><a href="#" class="button tiny">Student</a></li>
  
  {% endif %}
  {% if is_granted('ROLE_ADMIN') %}
    
    <li><a href="#" class="button tiny">Teacher</a></li>
    
  {% endif %}
  {% if is_granted('ROLE_EXPERT') %}
  
  <li><a href="#" class="button tiny">Expert</a></li>
  
  {% endif %}
  {% if is_granted('ROLE_SUPER_ADMIN') %}
  
  <li><a href="#" class="button tiny">Admin</a></li>
  
  {% endif %}
  <li><a href="{{ path('logout') }}" class="button tiny  ">Logout ({{ app.user.username }})</a></li>
  
{% else %}
  <li><a href="{{ path('login_form') }}" class="button tiny">Login</a></li>
  <li><a href="{{ path('user_register') }}" class="button tiny">SignUp</a></li>
{% endif %}
{%endblock%}
{% block body %}
<div class="row">
<div class="large-12 columns">
<section class="login">
    <article>
{% if error %}
    <div>{{ error.message|trans }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <hr/>
    Remember me <input type="checkbox" name="_remember_me" />
    <button type="submit" class="button success" >login</button>
    
    <a href="{{ path('user_register') }}" class="button">Register</a>
    
</form>
</article>
</section>
</div>
</div>
{% block javascripts %}
<script src="{{ asset('bundles/user/js/animate.js')}}"></script>
{% endblock %}
{% endblock %}