{# src/Capstone/UserBundle/Resources/views/Register/register.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-9  columns">
<section class="main-block">
    <article>
        <section>
            <h1>Register</h1>

            <form action="{{ path('user_register') }}" method="POST" novalidate="novalidate">
                {{ form_errors(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first, { label:'Password' }) }}
                {{ form_row(form.plainPassword.second, { label:'Repeat Password', 'attr':{'placeholder': 'password'}}) }}
                
                {{ form_rest(form) }}
                <input type="submit" class="button success" value="Register!" />
            </form>
        </section>
    </article>
</section>
</div>
</div>
</div>
</div>
{% endblock %}